In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
executable_path = {'executable_path':r'C:\Users\firme\OneDrive\Documents\GitHub\web-scraping-challenge\Missions_to_Mars\chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# News

In [3]:
news_url = 'https://redplanetscience.com/'
browser.visit(news_url)

In [4]:
# URL of page to be scraped
url = 'https://redplanetscience.com/'
browser.visit(url)

In [5]:
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [6]:
news_title =  soup.find('div', class_='col-md-12').a.text
news_p = soup.find('div', class_='article_teaser_body').text

print(news_title)
print(news_p)

MARS Planet Science
Exploration Program

As part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars.

# JPL

In [7]:
# URL of page to be scraped
url1 = 'https://spaceimages-mars.com/'
browser.visit(url1)

In [8]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [9]:
carousel_item =  soup.find('article', class_='carousel_item')

In [11]:
print(carousel_item.prettify())

AttributeError: 'NoneType' object has no attribute 'prettify'

In [ ]:
style = carousel_item["style"]
print(style)

In [ ]:
split_text = style.split("'")
print(split_text[1])

In [ ]:
featured_image_url = 'https://spaceimages-mars.com/image/featured/mars2.jpg' + split_text[1]
print(featured_image_url)

# Facts

In [12]:
# URL of page to be scraped
url3 = 'https://galaxyfacts-mars.com/'
browser.visit(url3)

In [13]:
tables = pd.read_html(url3)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
df = tables[0]
df.columns = ["Comparison", "Mars", "Earth"]
df.head()

                Comparison             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [15]:
df.set_index('Comparison', inplace=True)
df.head()

                                    Mars            Earth
Comparison
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km

In [16]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Comparison</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# Hemispheres

In [ ]:
url4 = 'https://marshemispheres.com/'
browser.visit(url4)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

hemisphere_image_urls = []

hemis_titles = soup.find_all('h3')

for i in range(len(hemis_titles)):
    hemis_title = hemis_titles[i].text
    print(hemis_title)
    
    hemis_images = browser.find_by_tag('h3')
    hemis_images[i].click()
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    img_url = soup.find('img', class_='wide-image')['src']
    img_url = "https://marshemispheres.com/" + img_url
    print(img_url)
    
    hemis_dict = {"title": hemis_title, "img_url":img_url}
    hemisphere_image_urls.append(hemis_dict)
    
    browser.back()

In [22]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [ ]:
browser.quit()